body {
    font-family: Arial, sans-serif;
    background-image:url(../imagens/fundo_total.jpg);
    background-size: cover; /*pra imagem ocupa todo espaço */
    }

#principal{
    display: flex;/* deixa os conteiners flexiveis*/
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;/*separação dos containers*/
}

.final{
    display: flex;
    flex-wrap: wrap;
    gap: 40%;/*separação dos containers*/
}

form{
	margin: 1%;
	border-radius: 20px; /*arrendondamento da borda*/
    box-sizing: border-box;
    padding: 2%;
    width: 350px;
    backdrop-filter: brightness(40%); /*escurecer o fundo pra ficar com a cor de fundo*/
    box-shadow: 0px 0px 5px rgba(0,0, 0.3); /*sombra*/
    flex-direction: column;
    display: flex;
    gap: 15px; /*espaçamento entresas perguntas*/ 
   }

.card {
    margin-bottom: 6%;
    height: 150px;/* vertical*/
    width: 170px; /*horizontal*/
	border-radius: 20px; /*arrendondamento da borda*/
    box-sizing: border-box;
    backdrop-filter: brightness(50%); /*escurecer o fundo pra ficar com a cor de fundo*/
    box-shadow: 0px 0px 5px rgba(0,0, 0.7); /*sombra*/
}

.table {
	border-radius: 8px; /*arrendondamento da borda*/
    padding:5%;
    width:150px;
    background-color:gray; /*cor da tabela*/
    box-shadow: 0px 0px 5px rgba(0,0, 0.5); /*sombra*/
    margin: 1%;
    text-align: center;
}

input, select{
    background-color: wheat; /*cor da caixa da pergunta*/
    height: 30%; /*tamanho da caixa de pergunta*/
    width: 100%;/*largura em relação a caixa*/
    border-radius: 5px; /*arredondamento*/
    border: none;/*tira a borda*/
    box-shadow: 0px 0px 5px rgba(0,0, 0.6); /*sombra*/
    color:black ; /*cor da letra*/
}

header{
  background: linear-gradient(wheat,silver) ; /*cor da caixa da pergunta*/
	padding: 15px;
	text-align: center;
    backdrop-filter: brightness(10%); /*escurecer o fundo pra ficar com a cor de fundo*/
    box-shadow: 0px 0px 5px rgba(0,0, 0.5); /*sombra*/
    border-radius: 20px; /*arrendondamento da borda*/
}

.marca_horario {
	background: linear-gradient(wheat,silver) ; /*cor da caixa da pergunta*/
    height: 28%; /*tamanho da caixa de pergunta*/
    width: 80%;/*largura em relação a caixa*/
    border-radius: 7px; /*arredondamento*/
    text-align: center; /*texto no centro*/
    margin: 0 auto;  /*centralizar*/
    border: none;/*tira a borda*/
    box-shadow: 0px 0px 5px rgba(0,0, 0.3); /*sombra*/
    color:black ; /*cor da letra*/
    font-size: 23px; /* tamanho da fonte*/
}

#rodape {
	clear: both;/*limpa do float*/
	text-align: center;/*texto centralizado*/
	padding:2px;/*espaçamento*/
	backdrop-filter: brightness(20%); /*escurecer o fundo pra ficar com a cor de fundo*/
    box-shadow: 0px 0px 5px rgba(0,0, 0.5); /*sombra*/
	font-size: 1.3em;/*tamanho da letra*/
	border-radius: 5px;/*arredondamento da borda*/
    color:white;/*cor da letra*/
}

span{
    color: wheat;
    font-size: 110%;
    font-weight: 700; /* largura da letra*/
}

card, button:hover{
    transform: rotate(1800deg);/*pra rodar o botão*/
    transition: 3s;

}

tr:hover{ /*ao passar o mouse*/
    text-decoration: none;/*tirando a linha do link*/
    color: white; /*cor da letra*/
    background: linear-gradient(red,black); /*cor da caixa da pergunta*/
}

tr{
	text-transform: uppercase; /*letras em negrito e maiusculas*/
	font-size: 80%; /*tamanho da letra*/
	letter-spacing: 0.1em; /*espaçamento entre as letras*/
    color: black
}


#whatsapp-link {
    display: block;
    margin-top: 20px;}

#arroz{
    background-image:url(../imagens/arroz.png);
    background-size: cover; /*pra imagem ocupa todo espaço */
}

#carne_ensopada{
    background-image:url(../imagens/carne_ensopada.png);
    background-size: cover; /*pra imagem ocupa todo espaço */
}

#churrasco{
    background-image:url(../imagens/churrasco.jpeg);
    background-size: cover ; /*pra imagem ocupa todo espaço */
}

#costela{
    background-image:url(../imagens/costela.png);
    background-size: cover; /*pra imagem ocupa todo espaço */
}

#feijao_tropeiro{
    background-image:url(../imagens/feijao_trompeiro.png);
    background-size: cover; /*pra imagem ocupa todo espaço */
}

#feijao{
    background-image:url(../imagens/feijao.png);
    background-size: cover; /*pra imagem ocupa todo espaço */
   
}

#frango_assado{
    background-image:url(../imagens/frango_assado.png);
    background-size: cover; /*pra imagem ocupa todo espaço */
}

#frango_ensopado{
    background-image:url(../imagens/frango_ensopado.png);
    background-size: cover; /*pra imagem ocupa todo espaço */
   
}

#macarrao_parmegiana{
    background-image:url(../imagens/macarrao.jpeg);
    background-size: cover; /*pra imagem ocupa todo espaço */
}

#macarrao_alho{
    background-image:url(../imagens/macarrão_alho.jpg);
    background-size: cover; /*pra imagem ocupa todo espaço */
}

#salada{
    background-image:url(../imagens/salada_simples.png);
    background-size: cover; /*pra imagem ocupa todo espaço */
}

#carne_ensopada:hover , #arroz:hover , #churrasco:hover, #costela:hover,
#feijao_tropeiro:hover, #frango_assado:hover, #frango_ensopado:hover, #feijao:hover,
#macarrao_parmegiana:hover, #macarrao_alho:hover, #salada:hover{
/* pra quando passar o mouse*/
 transform: scale(1.2);/*pra aumentar de tamanho*/
 transition: 2s;/*tamanhoque vai aumentar*/
 color: red;/*cor da letra*/
}

#carne_ensopada , #arroz , #churrasco, #costela,
#feijao_tropeiro, #frango_assado, #frango_ensopado, #feijao,
#macarrao_parmegiana, #macarrao_alho, #salada{
color: gold;
}

h4 , h5{
    backdrop-filter: brightness(65%); /*escurecer o fundo pra ficar com a cor de fundo*/
    box-shadow: 0px 0px 5px rgba(0,0, 0.5); /*sombra*/
	font-size: 1.3em;/*tamanho da letra*/
    color: gold;
    border-radius: 10px;
    text-align: center;
}



